@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Inter Tight", sans-serif;
}

body 
{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Custom class to remove thumb (dot) */
.remove-dot::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
  }
  
  /* Firefox */
  .remove-dot::-moz-range-thumb {
    width: 0;
    height: 0;
  }
  
  /* Internet Explorer and Edge */
  .remove-dot::-ms-thumb {
    width: 0;
    height: 0;
  }
  
  /* Customize the track */
  .remove-dot {
    -webkit-appearance: none;
    width: 100%;
    height: 4px; /* Adjust track height */
    background: #ccc; /* Adjust track color */
    outline: none;
    border-radius: 2px;
  }
  